MathProxy/MathSimpleBackend.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://ws.apache.org/axis2" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="process">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="value1" type="xs:long"/>
                        <xs:element minOccurs="0" name="value2" type="xs:long"/>
                        <xs:element minOccurs="0" name="operation" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="processRequest">
        <wsdl:part element="ns:process" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="MathSimpleBackendPortType">
        <wsdl:operation name="process">
            <wsdl:input message="ns:processRequest" wsaw:Action="urn:process"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MathSimpleBackendSoap11Binding" type="ns:MathSimpleBackendPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="process">
            <soap:operation soapAction="urn:process" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MathSimpleBackendSoap12Binding" type="ns:MathSimpleBackendPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="process">
            <soap12:operation soapAction="urn:process" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MathSimpleBackendHttpBinding" type="ns:MathSimpleBackendPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="process">
            <http:operation location="MathSimpleBackend/process"/>
            <wsdl:input>
                <mime:content part="process" type="text/xml"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MathSimpleBackend">
        <wsdl:port binding="ns:MathSimpleBackendSoap11Binding" name="MathSimpleBackendHttpSoap11Endpoint">
            <soap:address location="http://localhost:8080/MathComplexBackend/services/MathSimpleBackend.MathSimpleBackendHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:MathSimpleBackendSoap12Binding" name="MathSimpleBackendHttpSoap12Endpoint">
            <soap12:address location="http://localhost:8080/MathComplexBackend/services/MathSimpleBackend.MathSimpleBackendHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:MathSimpleBackendHttpBinding" name="MathSimpleBackendHttpEndpoint">
            <http:address location="http://localhost:8080/MathComplexBackend/services/MathSimpleBackend.MathSimpleBackendHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
